* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5efe6;
  padding: 1rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  background: #fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  overflow: hidden;
  position: relative;
}

.screen {
  display: none;
  padding: 2rem;
  text-align: center;
}

.screen.active {
  display: block;
}

#start-screen h1 {
  color: #004781;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.quiz-header {
  margin-bottom: 2rem;
}

#question-text {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  color: #666;

  margin-bottom: 10px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.answer-btn{
  background-color: #f8f0e5;
  color: #333;
  border: 2px solid #eadbc8;
}
